<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROT11 Challenge</title>
    <style>
        body {
            background-color: black;
            color: lime;
            font-family: monospace;
            text-align: center;
            padding-top: 50px;
        }
        .message {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p class="warning">Haha, you used ROT11? Really?</p>
   <p class="message"> That's not going to work</p>
   <p> Better Luck Next Time</p>
</body>
</html>